html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Public Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
  /* code */
}
.MuiInputLabel-asterisk {
  color: #ea5455;
}
.MuiFormLabel-root.MuiInputLabel-root {
  text-wrap: wrap;
}
@media print {
  .pdf_container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .pdf_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #f3f3f3;
  }

  .pdf_logo {
    width: 45%;
    text-align: center;
  }

  .pdf_img {
    width: 50%;
  }

  .pdf_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0;
  }

  .pdf_info_left {
    width: 25%;
    margin: 0 auto;
  }

  .pdf_p {
    margin: 5px 0;
  }

  .pdf_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .pdf_th_td {
    border: 1px solid #e3e3e3;
    padding: 10px;
    text-align: center;
  }

  .pdf_th {
    background-color: #f3f3f3;
    font-weight: bold;
  }
}
